*{
    font-size: 18px;
    font-family: monospace, serif, sans-serif;
    text-align: justify;
}

.container{
    background-color:  beige ;
    width: 70%;
    max-width: 800px;
    margin-left: auto;
    margin: 0 auto;
}