/*Might change font to something better*/
*{
    font-size: 16.5px;
    font-family: monospace, serif, sans-serif;
    text-align: left;
}

body{
    display: flex;
    justify-content: center;
    background-color: beige;
}
/*will add flex/flexbox later.*/
.container{
    /* This makes the website responsive but it looks kinda wonky, will need to add more flex to it and remeber margin 0 auto if it fails*/
    width: 70%;
    max-width: 800px;
/*Max-wdith 800px just in case*/
}

h1,
h2{
    text-align: justify;
    margin: 10px auto;
    border: 5px;
    padding: 10px;
    display: flex;
}

h1{
    font-size: 30px;
    font-weight: 600;
    color: rgb(108, 200, 243);
}

h2{
    font-size: 21px;
    font-weight: 600;
    color: rgb(87, 127, 146);

}

p{
    text-align: left;
    margin: 10px auto;
    border: 5px;
    padding: 10px;
}

/*Might use flexbox to code image better, images should be centered*/

.img{
    width: 450px;
    height: auto;
    margin: 5px;
    padding: 5px;
}

/*Currently using psuedo-code hover for nice effects*/

a:hover{
    color: rgb(32, 121, 148);
}

a{
    text-decoration: none;
}